@model coreTask33.Models.Clinic

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Clinic</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Clinic Name
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicName)
        </dd>
        <dt class = "col-sm-2">
Clinic Image        </dt>
        <dd class = "col-sm-10">
            <img src="~/images/@Model.ClinicImg" style="height:70px;width:70px" />
        </dd>
        <dt class = "col-sm-2">
            Clinic Description
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ClinicDis)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ClinicId" class="btn btn-success">Edit</a> |
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
